.popular-vs-recent {
    width: 100%;
    background-color: rgb(51, 51, 51);
    .popular-vs-recent-tabs-wrapper {
        display: flex;
        flex-wrap: wrap;
        .popular-vs-recent-tab {
            width: calc(33.3% - 20px);
            padding: 14px 10px 10px 10px;
            border-top: 3px solid rgb(51, 51, 51);
            text-align: center;
            cursor: pointer;
        }
        .popular-vs-recent-tab-active {
            width: calc(33.3% - 20px);
            padding: 14px 10px 10px 10px;
            border-top: 3px solid rgb(180, 139, 62);
            text-align: center;
            cursor: pointer;
        }

        .popular-vs-recent-tab-active-hover {
            width: calc(33.3% - 20px);
            padding: 14px 10px 10px 10px;
            border-top: 3px solid rgb(51, 51, 51);
            text-align: center;
            cursor: pointer;
            &:hover {
                // border-top: 3px solid rgb(180, 139, 62);
                animation: activeTab 0.5s linear;
            }
        }
    }
}

// @-webkit-keyframes appear {
//     from{
//         color: white;
//     }
//     to {
//         color: rgb(180, 139, 62);
//     }
// }
// @-moz-keyframes appear {
//     from{
//         color: white;
//     }
//     to {
//         color: rgb(180, 139, 62);
//     }
// }
// @-o-keyframes appear {
//     from{
//         color: white;
//     }
//     to {
//         color: rgb(180, 139, 62);
//     }
// }
@keyframes activeTab {
    from{
        border-top: 3px solid rgb(180, 139, 62);
    }
    to {
        border-top: 3px solid  rgb(51, 51, 51);
    }
}
