.content {
    .content-image {
        background-color: rgb(18, 68, 159);
        width: 100%;
        filter: grayscale(65%);
        >img {
            width: 100%;
            opacity: 0.8;
        }
    }
    .content-additional-text {
        background-color: rgb(51, 51, 51);
        border-left: 3px solid rgb(180, 139, 62);
        padding: 10px;
        margin: 0 30px 0 30px;
    }
}
