.h1 {
    font-size: 70px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
}

.h1-center {
    font-size: 70px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color:  white;
    text-align: center;
}

.h1-center-dekko {
    font-size: 70px;
    font-family: 'Dekko', cursive;
    color: rgb(180, 139, 62);
    text-align: center;
}
