.h6 {
    font-size: 14px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
}

.h6-pink-grey-yanone-suva {
    font-size: 14px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: rgb(141, 133, 130);
}

.h6-jaldi {
    font-size: 14px;
    font-family: 'Jaldi', sans-serif;
    color: white;
}
