.story-card-left {
    width: calc(50% - 182px);
    padding: 0 90px 0 90px;
    border-right: 1px solid rgb(63, 63, 63);
    padding-bottom: 40px;
    .story-card-wrapper-left {
        border: 1px solid rgb(63, 63, 63);
        position: relative;
    }
    .story-card-wrapper-left:after {
        content: '';
        position: absolute;
        right: 0;
        top: 70%;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-left-color: rgb(63, 63, 63);
        border-right: 0;
        margin-top: -10px;
        margin-right: -10px;
    }
}

.story-card-right {
    width: calc(50% - 182px);
    padding: 0 90px 0 90px;
    border-left: 1px solid rgb(63, 63, 63);
    padding-bottom: 40px;
    .story-card-wrapper-right {
        border: 1px solid rgb(63, 63, 63);
        position: relative;
    }
    
    .story-card-wrapper-right:after {
        content: '';
        position: absolute;
        left: 0;
        top: 70%;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-right-color: rgb(63, 63, 63);
        border-left: 0;
        margin-top: -10px;
        margin-left: -11px;
    }
}

.story-card-image {
    background-color: rgb(18, 68, 159);
    width: 100%;
    filter: grayscale(65%);
    >img {
        width: 100%;
        opacity: 0.8;
    }
}

.story-card-description {
    padding: 40px;
}
