.h5 {
    font-size: 17px;
    font-family: 'Jaldi', sans-serif;
    color: white;
}

.h5-ebb {
    font-size: 17px;
    font-family: 'Jaldi', sans-serif;
    color: rgb(233, 220, 216);
}

.h5-pink-swan {
    font-size: 17px;
    font-family: 'Jaldi', sans-serif;
    color: rgb(194, 185, 182);
    text-align: center;
}

// .h5-pink-swan-jaldi {
//     font-size: 17px;
//     font-family: 'Jaldi', sans-serif;
//     color: rgb(194, 185, 182);
//     text-align: center;
// }
