.h5 {
    font-size: 17px;
    font-family: 'Dekko', cursive;
    color: white;
}

.h5-ebb {
    font-size: 17px;
    font-family: 'Dekko', cursive;
    color: rgb(233, 220, 216);
}

.h5-pink-swan {
    font-size: 17px;
    font-family: 'Dekko', cursive;
    color: rgb(194, 185, 182);
    text-align: center;
}
