.footer {
    width: 100%;
    background-color: rgb(82, 78, 76);
    padding: 80px;
    .footer-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% - 160px);
        .footer-image-logo {
            width: 100px;
            height: 100px;
            >img {
                width: 100px;
                height: 100px;
            }
        }
        .footer-text-logo {
            width: 100px;
            height: 130px;
            >img {
                width: 130px;
                height: 130px;
            }
        }
    }
    .footer-items {
        // border-top: 
    }
}
