.archieves-month {
    position: relative;
    z-index: 20;
    padding: 80px 80px 80px 80px;
    background-color: rgb(41, 39, 38);
    cursor: context-menu;
    .archieves-month-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .archieves-by-month {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .archieves-month-button {
            width: 100px;
            background-color: rgb(63, 63, 63);
            border: 1px solid rgb(41, 39, 38);
            padding: 7px;
            cursor: pointer;
        }
        .archieves-month-wrapper {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: auto;
            max-height: 2400px;
        }
        .archieves-month-wrapper-open {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: auto;
            max-height: 2400px;
            -webkit-animation: openStories 1s linear;
            -moz-animation: openStories 1s linear;
            -o-animation: openStories 1s linear;
            animation: openStories 1s linear;
        }
        .archieves-month-wrapper-close {
            max-height: 0;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            max-height: 0px;
            -webkit-animation: closeStories 1s linear;
            -moz-animation: closeStories 1s linear;
            -o-animation: closeStories 1s linear;
            animation: closeStories 1s linear;
        }
    }
}

@-webkit-keyframes openStories {
    from{
        max-height: 0px;
    }
    to {
        max-height: 1900px;
    }
}
@-moz-keyframes openStories {
    from{
        max-height: 0px;
    }
    to {
        max-height: 1900px;
    }
}
@-o-keyframes openStories {
    from{
        max-height: 0px;
    }
    to {
        max-height: 1900px;
    }
}
@keyframes openStories {
    from{
        max-height: 0px;
    }
    to {
        max-height: 1900px;
    }
}

@-webkit-keyframes closeStories {
    from{
        max-height: 1900px;
    }
    to {
        max-height: 0px;
    }
}
@-moz-keyframes closeStories {
    from{
        max-height: 1900px;
    }
    to {
        max-height: 0px;
    }
}
@-o-keyframes closeStories {
    from{
        max-height: 1900px;
    }
    to {
        max-height: 0px;
    }
}
@keyframes closeStories {
    from{
        max-height: 1900px;
    }
    to {
        max-height: 0px;
    }
}

@media only screen and (max-width: 1300px){
    .archieves-month {
        padding: 80px 40px 80px 40px;
    }
}

@media only screen and (max-width: 1000px){
    .archieves-month {
        padding: 80px 0 0 0;
    }
}

@media only screen and (max-width: 900px){
    .archieves-month {
        padding: 80px 80px 80px 80px;
        .archieves-by-month {
           
            .archieves-month-wrapper {
                flex-wrap: nowrap;
                flex-direction: column;
                max-height: 9400px;
            }
            .archieves-month-wrapper-open {
                flex-wrap: nowrap;
                flex-direction: column;
            }
            .archieves-month-wrapper-close {
                flex-wrap: nowrap;
                flex-direction: column;
            }
        }
    }
}
