.our-story-cover-wrapper {
    background-image: url("../../../images/vw-2122580_1280.jpg");
    background-size: 100% 100vh;
    background-position: 150px;
    background-attachment: fixed;
    overflow: hidden;
    filter: grayscale(60%);
    width: calc(100% - 282px);
    position: relative;
    left: 300px;
    z-index: -1;
    .our-story-wrapper-backgroud-div {
        background-color: rgba(51, 51, 51, 0.5);
        width: 100%;
        height: 100vh;
    }
}
.our-story-header-text {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 40%;
    left: 282px;
    z-index: 10;
    width: calc(100% - 882px);
    padding: 0 300px 0 300px;
}
.our-story-wrapper {
    position: relative;
    left: 300px;
    width: calc(100% - 282px);
}

@media only screen and (max-width: 1120px){
    .our-story-cover-wrapper {
        background-position: center;
        width: calc(100% + 18px);
        position: static;
    }
    .our-story-header-text {
        left: 0px;
        width: calc(100% - 200px);
        padding: 0 100px 0 100px;
    }
    .our-story-wrapper {
        width: calc(100% + 18px);
        position: static;
    }
}
