.description {
    width: 100%;
    // height: 100vh;
    display: flex;
    .description-wrapper {
        background-color: rgb(82, 78, 76);
        width: 70%;
        padding: 80px;
        .description-wrapper2 {
            display: flex;
            filter: grayscale(40%);
            .description-image {
                >img {
                    width: 276px;
                    height: 182px;
                }
            }
        }
    }
    .description-image {
        background-color: white;
        width: 30%;
    }
}