.sidebar {
    background: rgb(51, 51, 51);
    width: 300px;
    height: calc(100vh + 2px);
    position: fixed;
    z-index: 500;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .sidebar-logo {
        width: inherit;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        .sidebar-image-logo {
            >img {
                width: 120px;
                height: 120px;
            }
        }
        .sidebar-image-cafe {
            >img {
                width: 140px;
                height: 80px;
            }
        }
        .sidebar-image-crypto {
            padding-bottom: 50px;
            position: relative;
            >img {
                width: 95px;
                height: 25px;
            }
        }
    }
    .sidebar-items {
        border-top: 1px solid rgb(82, 78, 76);
        width: inherit;
    }
    .icons-soc-med {
        display: flex;
        justify-content: space-between;
        width: 67%;
        padding-top: 40px;
    }
}

@media only screen and (max-width: 1120px){
    .sidebar {
        display: none;
    }
}
