.gallery {
    width: 100vw;
    height: calc(100vh - 10px);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 600;
    position: absolute;
    overflow: hidden;
    left: 0;
    .gallery-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .gallery-buttons {
            display: flex;
            align-items: center;
            padding: 7px;
            .gallery-button-close {
                width: 20px;
                height: 17px;
                padding-top: 3px;
                text-align: center;
                cursor: pointer;
                &:hover {
                    background: red;
                }
            }
            .gallery-buttons-fullscreen {
                width: 20px;
                height: 17px;
                padding-top: 3px;
                text-align: center;
                cursor: pointer;
                &:hover {
                    background: rgb(74, 197, 238);
                }
            }
            .gallery-buttons-play {
                width: 20px;
                height: 17px;
                padding-top: 3px;
                text-align: center;
                cursor: pointer;
                &:hover {
                    background: rgb(74, 197, 238);
                }
            }
            // .icon {
            //     padding: 4px;
            // }
        }
        .gallery-slider {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: calc(100vh - 10px);
            // width: 100vw;
            // margin: 0 auto;
            overflow: hidden;
            .gallery-slider-arrow-up {
                width: 100px;
                height: 17px;
                background-color: rgba(104, 97, 95, 0.7);
                position: absolute;
                top: 0;
                z-index: 1;
                padding-top: 3px;
                text-align: center;
                cursor: pointer;
            }
            .gallery-slider-arrow-down {
                width: 100px;
                height: 17px;
                background-color: rgba(104, 97, 95, 0.7);
                position: absolute;
                bottom: 0;
                z-index: 1;
                padding-top: 3px;
                text-align: center;
                cursor: pointer;
            }

            .gallery-slider-content {
                width: 400px;
                transition: transform ease-out 0.45s;
                .gallery-slide {
                    width: 400px;
                    height: 100%;
                    >img {
                        width: 400px;
                        height: 100%;
                    }
                }
            }
        }
        .gallery-small-slider {
        
        }
    }
}

// @media only screen and (max-width: 1200px){
//     .locations-in-the-world {
//         .locations-in-the-world-images {
//             .locations-in-the-world-images-wrapper {
//                 flex-direction: column;
//                 .locations-in-the-world-image {
//                     width: 100%;
//                     margin-bottom: 20px;
//                 }
//             }
//         }
//         .locations-in-the-world-addresses {
//             .locations-in-the-world-addresses-wrapper {
//                 display: flex;
//                 .locations-in-the-world-address {
//                     width: 50%;
//                 }
//             }
//         }
//     }
// }

// @media only screen and (max-width: 1200px){
//     .locations-in-the-world {
//         .locations-in-the-world-addresses {
//             .locations-in-the-world-addresses-wrapper {
//                 display: flex;
//                 .locations-in-the-world-address {
//                     width: 25%;
//                 }
//             }
//         }
//     }
// }

// @media only screen and (max-width: 995px){
//     .locations-in-the-world {
//         .locations-in-the-world-addresses {
//             .locations-in-the-world-addresses-wrapper {
//                 display: flex;
//                 .locations-in-the-world-address {
//                     width: 50%;
//                 }
//             }
//         }
//     }
// }

// @media only screen and (max-width: 743px){
//     .locations-in-the-world {
//         .locations-in-the-world-addresses {
//             .locations-in-the-world-addresses-wrapper {
//                 display: flex;
//                 .locations-in-the-world-address {
//                     width: 100%;
//                 }
//             }
//         }
//     }
// }
