.gallery {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 600;
    position: absolute;
    left: 0;
    .gallery-wrapper {
        .gallery-buttons {
            display: flex;
            align-items: center;
            padding: 7px;
            .gallery-button-close {
                width: 20px;
                height: 17px;
                padding-top: 3px;
                text-align: center;
                cursor: pointer;
                &:hover {
                    background: red;
                }
            }
            .gallery-buttons-fullscreen {
                width: 20px;
                height: 17px;
                padding-top: 3px;
                text-align: center;
                cursor: pointer;
                &:hover {
                    background: rgb(74, 197, 238);
                }
            }
            .gallery-buttons-play {
                width: 20px;
                height: 17px;
                padding-top: 3px;
                text-align: center;
                cursor: pointer;
                &:hover {
                    background: rgb(74, 197, 238);
                }
            }
            // .icon {
            //     padding: 4px;
            // }
        }
        .gallery-slider {

        }
        .gallery-small-slider {

        }
    }
}

// @media only screen and (max-width: 1200px){
//     .locations-in-the-world {
//         .locations-in-the-world-images {
//             .locations-in-the-world-images-wrapper {
//                 flex-direction: column;
//                 .locations-in-the-world-image {
//                     width: 100%;
//                     margin-bottom: 20px;
//                 }
//             }
//         }
//         .locations-in-the-world-addresses {
//             .locations-in-the-world-addresses-wrapper {
//                 display: flex;
//                 .locations-in-the-world-address {
//                     width: 50%;
//                 }
//             }
//         }
//     }
// }

// @media only screen and (max-width: 1200px){
//     .locations-in-the-world {
//         .locations-in-the-world-addresses {
//             .locations-in-the-world-addresses-wrapper {
//                 display: flex;
//                 .locations-in-the-world-address {
//                     width: 25%;
//                 }
//             }
//         }
//     }
// }

// @media only screen and (max-width: 995px){
//     .locations-in-the-world {
//         .locations-in-the-world-addresses {
//             .locations-in-the-world-addresses-wrapper {
//                 display: flex;
//                 .locations-in-the-world-address {
//                     width: 50%;
//                 }
//             }
//         }
//     }
// }

// @media only screen and (max-width: 743px){
//     .locations-in-the-world {
//         .locations-in-the-world-addresses {
//             .locations-in-the-world-addresses-wrapper {
//                 display: flex;
//                 .locations-in-the-world-address {
//                     width: 100%;
//                 }
//             }
//         }
//     }
// }
