.main {
    position: relative;
    top: -10px;
    left: -10px;
    height: 30px; 
}

.main-scrolling-hidden {
    position: relative;
    top: -10px;
    left: -10px;
    height: 30px; 
    // overflow: hidden; 
}
