.main {
    position: relative;
    top: -10px;
    left: -10px;
    .main-wrapper {
        background-image: url("../images/eat-drink-cafe-bar.jpg");
        background-size: 100% 100vh;
        background-attachment: fixed;
        overflow: hidden;
        filter: grayscale(50%);
        width: calc(100% - 282px);
        height: 3000px;
        position: relative;
        left: 300px;
    }
}
