.main {
    position: relative;
    top: -10px;
    left: -10px;
    .main-wrapper {
        background: rgb(82, 78, 76);
        width: calc(100% - 100px);
        height: 3000px;
        position: relative;
        left: 300px;
    }
}
