.sidebar-item {
    border-bottom: 1px solid rgb(82, 78, 76);
    text-align: center;
    height: 34px;
    padding-top: 18px;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
    cursor: pointer;
    &:hover {
        color: rgb(180, 139, 62);
        animation: appear 0.3s linear;
    }
}

.sidebar-item-active {
    border-bottom: 1px solid rgb(82, 78, 76);
    border-right: 2px solid rgb(180, 139, 62);
    text-align: center;
    height: 34px;
    padding-top: 18px;
    color: rgb(180, 139, 62);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
    cursor: pointer;
}

@keyframes appear {
    from{
        color: white;
    }
    to {
        color: rgb(180, 139, 62);
    }
}
