.related-posts {
    .related-posts-wrapper {
        display: flex;
        align-items: center;
        .related-posts-inner-wrapper {
            width: 100%;
            overflow: hidden;
       
            // overflow: hidden;
            .related-post-cards {
                display: flex;
                height: 233px;
                width: 233%;
                position: relative;
                left: -33.3%;
                background-color: white;
            }
        }
        .related-posts-arrow-left {
            // border: 2px solid red;
            width: 30px;
            height: 30px;
            // position: absolute;
            right: 0%;
            z-index: 1;

        }
        .related-posts-arrow-right {
            // border: 2px solid red;
            width: 30px;
            height: 30px;
            // position: absolute;
            left: 0%;
            z-index: 1;

        }
    }
}

