.related-posts {
    .related-posts-wrapper {
        width: 100%;
        overflow: hidden;
        // display: flex;
        // overflow: hidden;
        .related-posts-arrow-left {
            border: 2px solid red;
            width: 30px;
            height: 30px;
            // position: absolute;
            right: 00%;
            z-index: 1;

        }
        .related-posts-arrow-right {
            border: 2px solid red;
            width: 30px;
            height: 30px;
            // position: absolute;
            left: 00%;
            z-index: 1;

        }
        .related-posts-cards {
            display: flex;
            height: 233px;
            width: 166.5%;
            position: relative;
            left: -33.3%;
        }
    }
}

