.ad-big-card-dark {
    padding: 80px;
    width: calc(50% - 160px);
    background-color: rgb(41, 39, 38);
}

.ad-big-card-light {
    padding: 80px;
    width: calc(50% - 160px);
    background-color: rgb(82, 78, 76);
}

.ad-big-wrapper {
    display: flex;
}


@media only screen and (max-width: 1300px){
    .ad-big-card-dark {
        padding: 80px;
        width: calc(100% - 160px);
        background-color: rgb(41, 39, 38);
    }
    
    .ad-big-card-light {
        padding: 80px;
        width: calc(100% - 160px);
        background-color: rgb(82, 78, 76);
    }
}
