.carousel-arrow-left {
    position: absolute;
    top: 50%;
    left: 25px;
    z-index: 1;
}

.carousel-arrow-right {
    position: absolute;
    top: 50%;
    right: 25px;
    z-index: 1;
}
