.toolbar {
    display: none;
}

@media only screen and (max-width: 1120px){
    .toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% + 18px);
        background-color: rgb(51, 51, 51);
        .toolbar-wrapper {
            display: flex;
            align-items: center;
            padding-left: 25px;
            .toolbar-image-logo {
                width: 100px;
                height: 100px;
                >img {
                    width: 100px;
                    height: 100px;
                }
            }
            .toolbar-text-logo {
                width: 100px;
                height: 130px;
                >img {
                    width: 130px;
                    height: 130px;
                }
            }
        }
        .toolbar-menu {
            padding-right: 25px;
            cursor: pointer;
            .toolbar-menu-line {
                width: 20px;
                border: 2px solid rgb(180, 139, 62);
                background-color: rgb(180, 139, 62);
                border-radius: 3px;
                margin: 4.5px;
            }
        }
    }
}

// @keyframes spin {
//     100% {
//         transform: rotate(45deg);
//         transform-origin: top left;
//     }
// }

// @media only screen and (max-width: 1000px) {
//     .toolbar-main {
//         background: rgba(52, 52, 151, 0.7);
//         padding-top: 23px;
//         height: 75px;
//         width: 100%;
//         .toolbar-min {
//             cursor: pointer;
//             position: relative;
//             width: 40px;
//             height: 45px;
//             .toolbar-min-line1 {
//                 border: 2px solid rgb(139, 160, 230);
//                 border-radius: 7px;
//                 margin: 0 40px 7px 0;
//                 width: 27px;
//             }
//             .toolbar-min-line2 {
//                 border: 2px solid rgb(139, 160, 230);
//                 border-radius: 7px;
//                 margin: 0 40px 7px 0;
//                 width: 27px;
//             }
//             .toolbar-min-line3 {
//                 border: 2px solid rgb(139, 160, 230);
//                 border-radius: 7px;
//                 margin: 0 40px 7px 0;
//                 width: 27px;
//             }
//             .toolbar-min-line1-effect {
//                 border: 2px solid rgb(139, 160, 230);
//                 background: rgb(139, 160, 230);
//                 border-radius: 7px;
//                 margin: 0 40px 7px 0;
//                 width: 27px;
//                 transform: rotate(45deg);
//                 transform-origin: 10% 90%;
//             }
//             .toolbar-min-line2-effect {
//                 width: 0%;
//                 opacity: 0;
//             }
//             .toolbar-min-line3-effect {
//                 border: 2px solid rgb(139, 160, 230);
//                 background: rgb(139, 160, 230);
//                 border-radius: 7px;
//                 margin: 0 40px 7px 0;
//                 width: 27px;
//                 transform: rotate(-45deg);
//                 transform-origin: 43% 80%;
//             }
//         }
//         .toolbar-menu-text {
//             font-family: 'Indie Flower', cursive;
//             display: inline;
//             font-size: 25px;
//             font-weight: bold;
//             color: rgba(139, 160, 230, 1);
//             padding-bottom: 17px;
//             padding-right: 15px;
//             cursor: pointer;
//         }
//     }
    
//     .toolbar {
//         background: rgba(52, 52, 151, 0.7);
//         padding-top: 23px;
//         height: 75px;
//         width: 100%;
//         .toolbar-min {
//             cursor: pointer;
//             position: relative;
//             width: 40px;
//             height: 45px;
//             .toolbar-min-line1 {
//                 border: 2px solid rgb(139, 160, 230);
//                 border-radius: 7px;
//                 margin: 0 40px 7px 0;
//                 width: 27px;
//             }
//             .toolbar-min-line2 {
//                 border: 2px solid rgb(139, 160, 230);
//                 border-radius: 7px;
//                 margin: 0 40px 7px 0;
//                 width: 27px;
//             }
//             .toolbar-min-line3 {
//                 border: 2px solid rgb(139, 160, 230);
//                 border-radius: 7px;
//                 margin: 0 40px 7px 0;
//                 width: 27px;
//             }
//             .toolbar-min-line1-effect {
//                 border: 2px solid rgb(139, 160, 230);
//                 background: rgb(139, 160, 230);
//                 border-radius: 7px;
//                 margin: 0 40px 7px 0;
//                 width: 27px;
//                 transform: rotate(45deg);
//                 transform-origin: 10% 90%;
//             }
//             .toolbar-min-line2-effect {
//                 width: 0%;
//                 opacity: 0;
//             }
//             .toolbar-min-line3-effect {
//                 border: 2px solid rgb(139, 160, 230);
//                 background: rgb(139, 160, 230);
//                 border-radius: 7px;
//                 margin: 0 40px 7px 0;
//                 width: 27px;
//                 transform: rotate(-45deg);
//                 transform-origin: 43% 80%;
//             }
//         }
//         .toolbar-menu-text {
//             font-family: 'Indie Flower', cursive;
//             display: inline;
//             font-size: 25px;
//             font-weight: bold;
//             color: rgba(139, 160, 230, 1);
//             padding-bottom: 17px;
//             padding-right: 15px;
//             cursor: pointer;
//         }
//     }
// }
