.statistics-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// @media only screen and (max-width: 1300px){
//     .statistics-item {
//         justify-content: space-around;
//     }
// }
