.portfolio-description-button {
    border-radius: 30px;
    width: 170px;
    color: rgb(42, 20, 33);
    border: 1px solid rgb(42, 20, 33);
    margin: 10px 0 0 0;
    margin: 10px 0 0 0;
    background: rgb(238, 203, 184);
    font-family: 'Indie Flower', cursive;
    cursor: pointer;
    &:hover {
        background-color: rgb(249, 142, 108);
        color: rgb(42, 20, 33);
        box-shadow: 5px 5px 5px 0 rgb(73, 38, 52);
    }
}

.learn-more {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
    color: rgb(233, 220, 216);
    background-color: rgb(82, 78, 76);
    border: 1px solid white;
    border-radius: 3px;
    padding: 17px 40px 13px 40px;
    cursor: pointer;
    &:hover {
        background-color: rgba(104, 97, 95, 0.5);
    }
}

.load-more-posts-button-wrapper {
    width: 100%;
    .load-more-posts {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 18px;
        color: rgb(233, 220, 216);
        background-color: rgb(51, 51, 51);
        border: 1px solid white;
        border-radius: 3px;
        padding: 17px 40px 13px 40px;
        // display: block;
        width: 100%;
        position: relative;
        z-index: 10;
        cursor: pointer;
        &:hover {
            background-color: rgba(104, 97, 95, 0.5);
        }
    }
}

// @media only screen and (max-width: 1000px){
//     .load-more-posts-button-wrapper {
//         width: calc(100% - 80px);
//         padding: 0 40px 0 40px;
//     }
// }

    
//     .portfolio-description-button-middle {
//         width: 110px;
//     }
// }
