.get-in-touch {
    position: relative;
    padding: 80px;
    z-index: 20;
    background-color: rgb(51, 51, 51);
    cursor: context-menu;
    .get-in-touch-header-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .get-in-touch-wrapper {
        display: flex;
        flex-wrap: wrap;
        .get-in-touch-form-inputGetInTouch1 {
            width: calc(50% - 20px);
            margin-right: 20px;
        }
        .get-in-touch-form-inputGetInTouch2 {
            width: 50%;
        }
        .get-in-touch-form-inputGetInTouch3 {
            width: calc(50% - 20px);
            margin-right: 20px;
        }
        .get-in-touch-form-inputGetInTouch4 {
            width: 50%;
        }
        .get-in-touch-form-inputGetInTouch5 {
            width: calc(50% - 20px);
            margin-right: 20px;
        }
        .get-in-touch-form-inputGetInTouch6 {
            width: 50%;
        }
        .get-in-touch-form-textareaGetInTouch7 {
            width: 100%;
        }
    }
}
