.single-story-content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 20;
    padding: 40px;
    background-color: rgb(63, 63, 63);
    cursor: context-menu;
    .single-story-content-left-part {
        // border: 2px solid red;
        width: calc(69% - 40px);
        margin-right: 40px;
    }
    .single-story-content-right-part {
        // border: 2px solid red;
        width: calc(31% - 40px);
        margin-left: 40px;
        .single-story-content-right-part-wrapper {
            .single-story-content-right-part-wrapper-image {
                // width: 25%;
                background-color: rgb(18, 68, 159);
                filter: grayscale(45%);
                >img {
                    width: 100%;
                    // height: 220px;
                    object-fit: cover;
                    opacity: 0.8;
                }
            }
            .single-story-content-right-part-wrapper-text {
                padding: 15px;
                background-color: rgb(51, 51, 51);
            }
        }
    }
}

@media only screen and (max-device-width: 1200px){
    .single-story-content {
        flex-wrap: nowrap;
        flex-direction: column;
        .single-story-content-left-part {
            width: calc(100%);
            margin-right: 0px;
        }
        .single-story-content-right-part {
            width: 100%;
            margin-left: 0px;
            margin-top: 50px;
        }
    }
}

@media only screen and (max-device-width: 1120px){
    .single-story-content {
        flex-wrap: wrap;
        flex-direction: row;
        .single-story-content-left-part {
            width: calc(69% - 40px);
            margin-right: 40px;
        }
        .single-story-content-right-part {
            width: calc(31% - 40px);
            margin-left: 40px;
            margin-top: 0px;
        }
    }
}

@media only screen and (max-device-width: 850px){
    .single-story-content {
        flex-wrap: nowrap;
        flex-direction: column;
        .single-story-content-left-part {
            width: calc(100%);
            margin-right: 0px;
        }
        .single-story-content-right-part {
            width: 100%;
            margin-left: 0px;
            margin-top: 50px;
        }
    }
}
