.single-story-content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 20;
    padding: 40px;
    background-color: rgb(82, 78, 76);
    cursor: context-menu;
    .single-story-content-left-part {
        // border: 2px solid red;
        width: calc(69% - 40px);
        margin-right: 40px;
    }
    .single-story-content-right-part {
        // border: 2px solid red;
        width: calc(31% - 40px);
        margin-left: 40px;
        .single-story-content-right-part-wrapper {
            .single-story-content-right-part-wrapper-image {
                // width: 25%;
                background-color: rgb(18, 68, 159);
                filter: grayscale(45%);
                >img {
                    width: 100%;
                    // height: 220px;
                    object-fit: cover;
                    opacity: 0.8;
                }
            }
            .single-story-content-right-part-wrapper-text {
                padding: 15px;
                background-color: rgb(51, 51, 51);
            }
        }
    }
}

// @media only screen and (max-width: 1300px){
//     .statistics {
//         background-image: url('../../../images/caffeine-coffee-coffee-beans-cup-606545.jpg');
//         background-size: 100% 100%;
//         .statistics-items {
//             background-color: rgba(41, 39, 38, 0.8);
//             display: flex;
//             flex-direction: column;
//             justify-content: space-around;
//             padding: 170px 80px 170px 80px;
//         }
//     }
// }
