.h4 {
    font-size: 18px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color:  rgb(180, 139, 62);
}

.h4-white {
    font-size: 18px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color:  white;
}

.h4-white-centered {
    font-size: 18px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color:  white;
    text-align: center;
}

.h4-animation {
    font-size: 18px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color:  white;
    position: relative;
    &:hover {
        color: rgb(180, 139, 62);
        -webkit-animation: appear 0.3s linear;
        -moz-animation: appear 0.3s linear;
        -o-animation: appear 0.3s linear;
        animation: appear 0.3s linear;
    }
}

.h4-animation-cursor {
    font-size: 18px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color:  white;
    position: relative;
    cursor: pointer;
    &:hover {
        color: rgb(180, 139, 62);
        -webkit-animation: appear 0.3s linear;
        -moz-animation: appear 0.3s linear;
        -o-animation: appear 0.3s linear;
        animation: appear 0.3s linear;
    }
}

.h4-animation-with-icon-right {
    font-size: 18px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color:  white;
    position: relative;
    &:hover {
        color: rgb(180, 139, 62);
        -webkit-animation: appear 0.3s linear;
        -moz-animation: appear 0.3s linear;
        -o-animation: appear 0.3s linear;
        animation: appear 0.3s linear;
    }
}

.h4-animation-with-icon-right:after {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    top: 50%;
    right: -12px;
    padding-left: 5px;
    font-size: 14px;
    position: absolute;
    transform: translateY(-50%);
}

.h4-animation-with-icon-left {
    font-size: 18px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color:  white;
    position: relative;
    cursor: pointer;
    &:hover {
        color: rgb(180, 139, 62);
        -webkit-animation: appear 0.3s linear;
        -moz-animation: appear 0.3s linear;
        -o-animation: appear 0.3s linear;
        animation: appear 0.3s linear;
    }
}

.h4-animation-with-icon-left:after {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    top: 45%;
    left: -20px;
    padding-left: 5px;
    font-size: 14px;
    position: absolute;
    transform: translateY(-50%);
}

@-webkit-keyframes appear {
    from{
        color: white;
    }
    to {
        color: rgb(180, 139, 62);
    }
}
@-moz-keyframes appear {
    from{
        color: white;
    }
    to {
        color: rgb(180, 139, 62);
    }
}
@-o-keyframes appear {
    from{
        color: white;
    }
    to {
        color: rgb(180, 139, 62);
    }
}
@keyframes appear {
    from{
        color: white;
    }
    to {
        color: rgb(180, 139, 62);
    }
}
