b {
    background: linear-gradient(
        rgb(180, 107, 62),
        rgb(255, 98, 0),
        rgb(239, 94, 4),
        rgb(134, 103, 84),
            rgb(233, 220, 216), /**Ebb**/
            rgb(194, 185, 182), /**Pink Swan**/
            rgb(141, 133, 130), /**Suva Grey**/
            rgb(104, 97, 95), /**Zambezi**/
            rgb(82, 78, 76),  /**Tundora**/ /**description, footer**/
            rgb(63, 63, 63), /**Charcoal**/
            rgb(51, 51, 51),  /**Night Rider**/ /**sidebar, toolbar**/
          
            rgb(41, 39, 38), /**Bokara Grey**/
          

            rgb(180, 139, 62), /**Marigold**/
            rgb(255, 165, 0), /**Orange**/
                                                                                                                                                                                                                                          
        rgb(134, 116, 84),
        rgb(82, 80, 76),

        rgb(40, 116, 99),
        rgb(0, 200, 155),
        rgb(3, 154, 120),
        rgb(54, 86, 79),
        rgb(49, 53, 52),

        rgb(49, 74, 120),
        rgb(3, 74, 203),
        rgb(18, 68, 159),
        rgb(59, 69, 89),
        rgb(51, 52, 54),
    );

    font-size: 70px;
    font-size: 60px;
    font-size: 40px;
    font-size: 18px;
    font-size: 17px;

    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-family: 'Jaldi', sans-serif;
    font-family: 'Dekko', cursive;
}



